/* -------------------- IMPORTED FONTS -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*-------------------- CSS RESET --------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* -------------------- ROOT VARIABLES  -------------------- */
:root {
    font-family: "Playfair Display", serif;
    font-size: 1.0em;
    
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;


}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
body {
    min-width: 428px;
    line-height: 1.5;
    background-color:#FAF9F6;
    margin: 0 auto;
    
}

/* creates box and centers with background color for header */
header {
    display:flex;
    flex-direction: column;
    background-color: #1F2A44;
    align-items: center;
}
/* applies font family,size,weight,color, and padding for h1 */
h1{
    font-family:"Playfair Display" ;
    font-size: 50px;
    font-weight: bold;
    background-color: #1F2A44;
    color:#FAF9F6;
    padding-bottom: 10px;
}
/* applies styling, color, size and padding for header*/
header > p{
    color:#FAF9F6;
    padding: 20px;
    font-style: italic;
    font-size: small;
  
}

/* creates box and applies color to about us*/
nav ul{
    display:flex;
    background-color:#E5C185;
    height:15px;    
}
/* create position for navigation for about us */
#us {
padding-top: 10px;
margin-bottom: 10px;
padding-bottom:10px;
}

/* create grid to position nav and font specs for about us*/
#us > li{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
   font-weight: bold;
  
}  
/* create space with margin for main */
main {
    margin: 15px;

}    
h2{
    font-size: 1.5em;

}
hr.new {
    border: 1px solid #E5C185;
}